In [1]:
import seaborn as sns
sns.set(style="darkgrid")
import geopandas as gpd
from shapely.geometry import Point

In [2]:
import matplotlib.pyplot as plt

In [3]:
import pandas as pd

In [4]:
import glob
import numpy as np

In [5]:
#fig, axes = plt.subplots(figsize=(9,6))
files = glob.glob("/home/joao/Documentos/21032023_repetições/21032023/*.csv")

df = pd.DataFrame()
for f in files:
    plt = pd.read_csv(f, sep = ",")
    df = pd.concat([plt,df], ignore_index=False)
#    df = df.loc[(df['VehId'] == 2) | (df['VehId'] == 5) | (df['VehId'] == 7) | (df['VehId'] == 8) | (df['VehId'] == 12) | 
#               (df['VehId'] == 108) | (df['VehId'] == 110) | (df['VehId'] == 115) | (df['VehId'] == 116) | (df['VehId'] == 119)]
#    df = df.loc[(df['VehId'] == 8)]
#    df = df.loc[(df['VehId'] < 20)]


#df_final=pd.DataFrame()

#fig, axes = plt.subplots(figsize=(9,6))
files = glob.glob("/home/joao/Documentos/21032023_repetições/pontos/*.csv")

df_final = pd.DataFrame()
for f in files:
    plt = pd.read_csv(f, sep = ",")
    df_final = pd.concat([plt,df_final], ignore_index=False)
#    df_final['repetições'] = df.groupby(['grid_origem','grid_destino']).size().reset_index().groupby(['grid_origem','grid_destino']).sum()

#df['repetições'].nlargest(5)

df_final

,Unnamed: 0,VehId_x,Trip,Origens,Destinos,grid_origem,grid_destino,lon_x,lat_x,lon_y,lat_y
0,0,372,354,Origem,Destino,65321,78354,-83.701868,42.316118,-83.674686,42.274316
1,1,372,357,Origem,Destino,51163,59486,-83.732358,42.286419,-83.714972,42.321877
2,2,372,360,Origem,Destino,64034,63154,-83.704599,42.295362,-83.707006,42.266689
3,3,372,363,Origem,Destino,50335,58233,-83.733996,42.282279,-83.717427,42.317100
4,4,372,368,Origem,Destino,49956,45426,-83.735556,42.303627,-83.745200,42.285757
...,...,...,...,...,...,...,...,...,...,...,...
151,151,282,1892,Origem,Destino,45813,47054,-83.744393,42.271712,-83.741432,42.281253
0,0,325,1809,Origem,Destino,51978,46180,-83.730878,42.281351,-83.743637,42.243788
1,1,325,3134,Origem,Destino,34023,30422,-83.770089,42.240114,-83.778733,42.228671
2,2,325,3281,Origem,Destino,68170,51163,-83.696052,42.256880,-83.732852,42.286319
3,3,325,3690,Origem,Destino,20542,65652,-83.801968,42.284952,-83.700946,42.257646

In [6]:
resultados=pd.DataFrame()

resultados['repetições'] = df_final.groupby(['VehId_x','grid_origem','grid_destino']).size().reset_index().groupby(['VehId_x','grid_origem','grid_destino']).sum()

df_final.shape

(32552, 11)

In [7]:
#resultados = resultados.reset_index()

resultados

                                  repetições
VehId_x grid_origem grid_destino
2       35232       76279                  1
        50386       51164                  1
        50754       63615                  1
                    64034                  2
        51163       50385                  1
...                                      ...
624     76704       64463                  1
        78354       49925                  1
625     77130       64463                  1
        78322       69926                  1
630     64034       58992                  1

[25476 rows x 1 columns]

In [8]:
res = pd.DataFrame()
for i in resultados:
    res = resultados.drop(resultados[resultados['repetições'] < 5].index)
res

                                  repetições
VehId_x grid_origem grid_destino
10      57359       42976                  5
11      62804       58235                  5
12      48208       64033                  6
        64033       48209                  6
128     20542       29718                  5
...                                      ...
608     20542       21655                  6
        29719       26212                  5
609     78321       50738                  6
        78355       48705                  6
610     21285       63984                  5

[424 rows x 1 columns]

In [9]:
res = res.reset_index()

res

     VehId_x  grid_origem  grid_destino  repetições
0         10        57359         42976           5
1         11        62804         58235           5
2         12        48208         64033           6
3         12        64033         48209           6
4        128        20542         29718           5
..       ...          ...           ...         ...
419      608        20542         21655           6
420      608        29719         26212           5
421      609        78321         50738           6
422      609        78355         48705           6
423      610        21285         63984           5

[424 rows x 4 columns]

In [10]:
table = pd.DataFrame()

table['duplicados'] = res.pivot_table(columns=['VehId_x'], aggfunc='size')

print(table)

         duplicados
VehId_x
10                1
11                1
12                2
128               1
130               1
...             ...
599               1
607               1
608               2
609               2
610               1

[145 rows x 1 columns]

In [11]:
table[table['duplicados'] >= 10]

         duplicados
VehId_x
276              15
371              10
388              12
450              13
550              15
560              12
561              11

In [12]:
res[res['VehId_x'] == 276]

     VehId_x  grid_origem  grid_destino  repetições
91       276        64462         76704           5
92       276        74544         77129          14
93       276        74545         75866           5
94       276        74548         77129          10
95       276        75867         74546           8
96       276        76292         74544           8
97       276        76292         74545          15
98       276        76292         74546          12
99       276        76292         74549          10
100      276        76705         64463           5
101      276        76705         74544           7
102      276        77130         74544           5
103      276        77130         74545          11
104      276        77130         74546           9
105      276        77130         74549           5

In [13]:
res[res['VehId_x'] == 371]

     VehId_x  grid_origem  grid_destino  repetições
171      371        51163         78354          11
172      371        57358         78354           7
173      371        75363         51972          10
174      371        75364         50746           7
175      371        75364         51972          17
176      371        75364         51978           5
177      371        78354         51574           7
178      371        78354         64044           6
179      371        78354         75364           8
180      371        78354         78354          15

In [14]:
res[res['VehId_x'] == 388]

     VehId_x  grid_origem  grid_destino  repetições
190      388        39692         66030           9
191      388        45813         66030          24
192      388        48204         66030           8
193      388        52334         66030           6
194      388        66449         37267          17
195      388        66449         38478          10
196      388        66449         38479          14
197      388        66449         40098          22
198      388        66449         45002           5
199      388        66449         45817          10
200      388        66449         75312          10
201      388        75312         66449           9

In [15]:
res[res['VehId_x'] == 450]

     VehId_x  grid_origem  grid_destino  repetições
240      450        64044         74563           5
241      450        64462         74563           5
242      450        66520         74563           6
243      450        69505         74563           5
244      450        69900         74563           5
245      450        74155         74563          13
246      450        74155         74987           7
247      450        74551         74563          10
248      450        74555         74563           7
249      450        74556         74563          13
250      450        74556         74987           5
251      450        74987         74987          86
252      450        74988         74987           7

In [16]:
res[res['VehId_x'] == 550]

     VehId_x  grid_origem  grid_destino  repetições
332      550        64033         71591           8
333      550        64034         71591          13
334      550        64034         76704           6
335      550        64034         78354          12
336      550        71169         64033           7
337      550        71169         64034           5
338      550        71592         64033           5
339      550        74544         78354           5
340      550        74548         78354          11
341      550        74550         78354           6
342      550        77130         74556           6
343      550        77130         74557           5
344      550        78354         74545           5
345      550        78354         74547           7
346      550        78354         74550          20

In [17]:
res[res['VehId_x'] == 560]

     VehId_x  grid_origem  grid_destino  repetições
350      560        45825         78354           6
351      560        78354         44602           6
352      560        78354         45009           6
353      560        78354         45012           9
354      560        78354         45013           9
355      560        78354         45422           6
356      560        78354         47466          14
357      560        78354         77480           6
358      560        78354         77896           8
359      560        78354         77928          36
360      560        78354         78321           6
361      560        78354         78354          91

In [18]:
res[res['VehId_x'] == 561]

     VehId_x  grid_origem  grid_destino  repetições
362      561        21933         28551           8
363      561        47449         48204           8
364      561        47451         48204          11
365      561        47451         48205           6
366      561        47868         48204          15
367      561        47868         48205           5
368      561        47869         48204           5
369      561        48204         48284           5
370      561        66449         50738          44
371      561        66449         51147           9
372      561        66449         51558          11

## Veículo 276: grids diferentes e o mesmo veículo

In [19]:
vei276 = res[res['VehId_x'] == 276]

vei276

     VehId_x  grid_origem  grid_destino  repetições
91       276        64462         76704           5
92       276        74544         77129          14
93       276        74545         75866           5
94       276        74548         77129          10
95       276        75867         74546           8
96       276        76292         74544           8
97       276        76292         74545          15
98       276        76292         74546          12
99       276        76292         74549          10
100      276        76705         64463           5
101      276        76705         74544           7
102      276        77130         74544           5
103      276        77130         74545          11
104      276        77130         74546           9
105      276        77130         74549           5

In [20]:
df_trip276 = df_final.merge(vei276, how='inner', on=['grid_origem','grid_destino'])

df_trip276

,Unnamed: 0,VehId_x_x,Trip,Origens,Destinos,grid_origem,grid_destino,lon_x,lat_x,lon_y,lat_y,VehId_x_y,repetições
0,18,397,830,Origem,Destino,76705,64463,-83.677588,42.309449,-83.704183,42.302663,276,5
1,78,366,1957,Origem,Destino,76705,64463,-83.677534,42.309348,-83.704022,42.302712,276,5
2,27,185,1625,Origem,Destino,76705,64463,-83.677584,42.309322,-83.704059,42.302699,276,5
3,93,185,2141,Origem,Destino,76705,64463,-83.677565,42.309404,-83.703875,42.302693,276,5
4,10,463,540,Origem,Destino,76705,64463,-83.677434,42.309489,-83.703573,42.302733,276,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,65,276,1194,Origem,Destino,77130,74544,-83.677299,42.309378,-83.682337,42.284545,276,5
189,70,276,1216,Origem,Destino,77130,74544,-83.677253,42.309322,-83.682407,42.284678,276,5
190,75,276,1242,Origem,Destino,77130,74544,-83.677370,42.309395,-83.682438,42.284609,276,5
191,171,276,1968,Origem,Destino,77130,74544,-83.677267,42.309334,-83.682439,42.284559,276,5
192,208,276,2588,Origem,Destino,77130,74544,-83.677231,42.309361,-83.682403,42.284579,276,5

In [21]:
#df_trip276 = df_trip276.drop_duplicates(subset=['grid_origem','grid_destino'])

#df_trip276

In [22]:
df = pd.read_csv('/home/joao/Documentos/21032023_repetições/21032023/repetições_vei276.csv')

df

    Unnamed: 0  grid_origem  grid_destino  repetições
0            0        29711         20908           1
1            1        34048         76279           1
2            2        36442         76704           1
3            3        36472         48204           1
4            4        38478         76704           1
..         ...          ...           ...         ...
85          85        77130         74546           9
86          86        77130         74547           4
87          87        77130         74549           5
88          88        77130         77130           1
89          89        78322         76704           1

[90 rows x 4 columns]

In [23]:
df['repetições'].max()

15

In [24]:
df_trip276 = df_trip276[(df_trip276['repetições'] == df_trip276['repetições'].max()) & (df_trip276['grid_origem'] != df_trip276['grid_destino']) &
                       (df_trip276['VehId_x_x'] == df_trip276['VehId_x_y'])]

In [25]:
df_trip276

,Unnamed: 0,VehId_x_x,Trip,Origens,Destinos,grid_origem,grid_destino,lon_x,lat_x,lon_y,lat_y,VehId_x_y,repetições
120,15,276,936,Origem,Destino,76292,74545,-83.679149,42.317389,-83.682450,42.285072,276,15
121,63,276,1152,Origem,Destino,76292,74545,-83.679046,42.317641,-83.682327,42.285070,276,15
122,66,276,1196,Origem,Destino,76292,74545,-83.679143,42.317701,-83.682432,42.284848,276,15
123,76,276,1244,Origem,Destino,76292,74545,-83.679101,42.317443,-83.682219,42.284807,276,15
124,82,276,1263,Origem,Destino,76292,74545,-83.679157,42.317265,-83.682306,42.284768,276,15
125,99,276,1347,Origem,Destino,76292,74545,-83.679072,42.317404,-83.682367,42.285140,276,15
126,104,276,1371,Origem,Destino,76292,74545,-83.679056,42.317668,-83.682331,42.284843,276,15
127,116,276,1424,Origem,Destino,76292,74545,-83.679164,42.317496,-83.682520,42.284820,276,15
128,120,276,1440,Origem,Destino,76292,74545,-83.679130,42.317525,-83.682419,42.284952,276,15
129,135,276,1499,Origem,Destino,76292,74545,-83.679176,42.317344,-83.682519,42.285036,276,15
130,139,276,1516,Origem,Destino,76292,74545,-83.679123,42.317323,-83.682377,42.285054,276,15
131,152,276,1586,Origem,Destino,76292,74545,-83.679014,42.317423,-83.682251,42.284950,276,15
132,165,276,1640,Origem,Destino,76292,74545,-83.679144,42.317437,-83.682397,42.284871,276,15
133,191,276,2086,Origem,Destino,76292,74545,-83.679174,42.317592,-83.682417,42.284927,276,15
134,200,276,2341,Origem,Destino,76292,74545,-83.679146,42.317476,-83.682402,42.285032,276,15

In [26]:
df_trip276['Trip'].unique()

array([ 936, 1152, 1196, 1244, 1263, 1347, 1371, 1424, 1440, 1499, 1516,
       1586, 1640, 2086, 2341])

## Veículo 371: grids diferentes e o mesmo veículo

In [27]:
vei371 = res[res['VehId_x'] == 371]

vei371

     VehId_x  grid_origem  grid_destino  repetições
171      371        51163         78354          11
172      371        57358         78354           7
173      371        75363         51972          10
174      371        75364         50746           7
175      371        75364         51972          17
176      371        75364         51978           5
177      371        78354         51574           7
178      371        78354         64044           6
179      371        78354         75364           8
180      371        78354         78354          15

In [28]:
df_trip371 = df_final.merge(vei371, how='inner', on=['grid_origem','grid_destino'])

df_trip371

,Unnamed: 0,VehId_x_x,Trip,Origens,Destinos,grid_origem,grid_destino,lon_x,lat_x,lon_y,lat_y,VehId_x_y,repetições
0,41,154,1570,Origem,Destino,78354,64044,-83.674043,42.274471,-83.704434,42.302358,371,6
1,28,304,992,Origem,Destino,78354,64044,-83.674055,42.274452,-83.704404,42.302426,371,6
2,50,304,1532,Origem,Destino,78354,64044,-83.674046,42.274426,-83.704406,42.302438,371,6
3,57,304,1679,Origem,Destino,78354,64044,-83.674109,42.274471,-83.704435,42.302459,371,6
4,64,304,1815,Origem,Destino,78354,64044,-83.674234,42.274534,-83.704415,42.302311,371,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
334,237,371,3144,Origem,Destino,75363,51972,-83.680381,42.264609,-83.730678,42.277212,371,10
335,283,371,3508,Origem,Destino,75363,51972,-83.680466,42.264565,-83.730733,42.277108,371,10
336,297,371,3741,Origem,Destino,75363,51972,-83.680361,42.264674,-83.730686,42.277136,371,10
337,313,371,3865,Origem,Destino,75363,51972,-83.680102,42.264713,-83.730663,42.277179,371,10
338,323,371,3927,Origem,Destino,75363,51972,-83.680360,42.264665,-83.730744,42.277176,371,10

In [29]:
df_trip371 = df_trip371[(df_trip371['repetições'] == df_trip371['repetições'].max()) & (df_trip371['grid_origem'] != df_trip371['grid_destino']) &
                       (df_trip371['VehId_x_x'] == df_trip371['VehId_x_y'])]

df_trip371

,Unnamed: 0,VehId_x_x,Trip,Origens,Destinos,grid_origem,grid_destino,lon_x,lat_x,lon_y,lat_y,VehId_x_y,repetições
265,7,371,1336,Origem,Destino,75364,51972,-83.680563,42.264781,-83.730607,42.277157,371,17
266,33,371,1519,Origem,Destino,75364,51972,-83.680462,42.264943,-83.730764,42.277231,371,17
267,35,371,1530,Origem,Destino,75364,51972,-83.680303,42.264791,-83.730621,42.277208,371,17
268,40,371,1569,Origem,Destino,75364,51972,-83.680292,42.264836,-83.730796,42.277271,371,17
269,46,371,1624,Origem,Destino,75364,51972,-83.680157,42.264808,-83.730722,42.277319,371,17
270,78,371,1882,Origem,Destino,75364,51972,-83.680148,42.264823,-83.730729,42.277243,371,17
271,107,371,2121,Origem,Destino,75364,51972,-83.680144,42.264765,-83.730774,42.277265,371,17
272,114,371,2171,Origem,Destino,75364,51972,-83.680287,42.264834,-83.730795,42.277260,371,17
273,121,371,2227,Origem,Destino,75364,51972,-83.680328,42.264907,-83.730710,42.277372,371,17
274,156,371,2531,Origem,Destino,75364,51972,-83.680434,42.264834,-83.730739,42.277302,371,17
275,173,371,2642,Origem,Destino,75364,51972,-83.680379,42.265012,-83.731057,42.277096,371,17
276,174,371,2646,Origem,Destino,75364,51972,-83.680456,42.264794,-83.730739,42.277101,371,17
277,225,371,3085,Origem,Destino,75364,51972,-83.680342,42.264958,-83.730685,42.277272,371,17
278,299,371,3750,Origem,Destino,75364,51972,-83.680458,42.264797,-83.730684,42.277316,371,17
279,305,371,3798,Origem,Destino,75364,51972,-83.680109,42.264798,-83.730698,42.277240,371,17
280,319,371,3909,Origem,Destino,75364,51972,-83.680543,42.264842,-83.730696,42.277233,371,17
281,387,371,4395,Origem,Destino,75364,51972,-83.680335,42.264828,-83.730813,42.277191,371,17

In [30]:
df_trip371['Trip'].unique()

array([1336, 1519, 1530, 1569, 1624, 1882, 2121, 2171, 2227, 2531, 2642,
       2646, 3085, 3750, 3798, 3909, 4395])

## Veículo 388: grids diferentes e o mesmo veículo

In [32]:
vei388 = res[res['VehId_x'] == 388]

vei388

     VehId_x  grid_origem  grid_destino  repetições
190      388        39692         66030           9
191      388        45813         66030          24
192      388        48204         66030           8
193      388        52334         66030           6
194      388        66449         37267          17
195      388        66449         38478          10
196      388        66449         38479          14
197      388        66449         40098          22
198      388        66449         45002           5
199      388        66449         45817          10
200      388        66449         75312          10
201      388        75312         66449           9

In [33]:
df_trip388 = df_final.merge(vei388, how='inner', on=['grid_origem','grid_destino'])

df_trip388

,Unnamed: 0,VehId_x_x,Trip,Origens,Destinos,grid_origem,grid_destino,lon_x,lat_x,lon_y,lat_y,VehId_x_y,repetições
0,67,304,1829,Origem,Destino,48204,66030,-83.739109,42.229379,-83.700035,42.230289,388,8
1,0,574,143,Origem,Destino,48204,66030,-83.739310,42.229343,-83.700725,42.230389,388,8
2,130,574,1036,Origem,Destino,48204,66030,-83.739206,42.229303,-83.700180,42.230258,388,8
3,6,535,455,Origem,Destino,48204,66030,-83.739071,42.229459,-83.700061,42.230310,388,8
4,39,535,990,Origem,Destino,48204,66030,-83.739153,42.229308,-83.699984,42.230334,388,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
355,153,388,1185,Origem,Destino,66449,45002,-83.699686,42.230252,-83.746008,42.275344,388,5
356,277,388,1801,Origem,Destino,66449,45002,-83.699615,42.230457,-83.745675,42.275201,388,5
357,282,388,1811,Origem,Destino,66449,45002,-83.699670,42.230274,-83.745845,42.275322,388,5
358,283,388,1816,Origem,Destino,66449,45002,-83.699752,42.230430,-83.745680,42.275279,388,5
359,290,388,1837,Origem,Destino,66449,45002,-83.699804,42.230407,-83.745732,42.275274,388,5

In [34]:
df_trip388 = df_trip388[(df_trip388['repetições'] == df_trip388['repetições'].max()) & (df_trip388['grid_origem'] != df_trip388['grid_destino']) &
                       (df_trip388['VehId_x_x'] == df_trip388['VehId_x_y'])]

df_trip388

,Unnamed: 0,VehId_x_x,Trip,Origens,Destinos,grid_origem,grid_destino,lon_x,lat_x,lon_y,lat_y,VehId_x_y,repetições
316,42,388,818,Origem,Destino,45813,66030,-83.744362,42.271791,-83.699989,42.230313,388,24
317,65,388,907,Origem,Destino,45813,66030,-83.744587,42.271645,-83.700058,42.230340,388,24
318,138,388,1140,Origem,Destino,45813,66030,-83.744514,42.271790,-83.699973,42.230297,388,24
319,140,388,1144,Origem,Destino,45813,66030,-83.744562,42.271646,-83.700189,42.230247,388,24
320,154,388,1190,Origem,Destino,45813,66030,-83.744480,42.271726,-83.700216,42.230284,388,24
321,155,388,1196,Origem,Destino,45813,66030,-83.744372,42.271536,-83.700014,42.230283,388,24
322,160,388,1224,Origem,Destino,45813,66030,-83.744449,42.271723,-83.700033,42.230218,388,24
323,198,388,1428,Origem,Destino,45813,66030,-83.744588,42.271837,-83.700192,42.230324,388,24
324,201,388,1438,Origem,Destino,45813,66030,-83.744552,42.271681,-83.700113,42.230278,388,24
325,222,388,1551,Origem,Destino,45813,66030,-83.744452,42.271666,-83.700302,42.230363,388,24
326,247,388,1665,Origem,Destino,45813,66030,-83.744587,42.271628,-83.699977,42.230329,388,24
327,278,388,1803,Origem,Destino,45813,66030,-83.744582,42.271735,-83.700072,42.230297,388,24
328,280,388,1806,Origem,Destino,45813,66030,-83.744377,42.271651,-83.700045,42.230302,388,24
329,298,388,1867,Origem,Destino,45813,66030,-83.744395,42.271530,-83.700063,42.230325,388,24
330,299,388,1879,Origem,Destino,45813,66030,-83.744619,42.271683,-83.700050,42.230315,388,24
331,305,388,1912,Origem,Destino,45813,66030,-83.744468,42.271406,-83.699913,42.230299,388,24
332,306,388,1918,Origem,Destino,45813,66030,-83.744529,42.271761,-83.700076,42.230319,388,24
333,312,388,1940,Origem,Destino,45813,66030,-83.744430,42.271733,-83.700115,42.230339,388,24
334,319,388,1976,Origem,Destino,45813,66030,-83.744666,42.271622,-83.700035,42.230311,388,24
335,325,388,2003,Origem,Destino,45813,66030,-83.744582,42.271577,-83.700087,42.230306,388,24
336,343,388,2096,Origem,Destino,45813,66030,-83.744451,42.271728,-83.700183,42.230306,388,24
337,350,388,2120,Origem,Destino,45813,66030,-83.744622,42.271653,-83.699996,42.230333,388,24
338,352,388,2135,Origem,Destino,45813,66030,-83.744480,42.271667,-83.700182,42.230318,388,24
339,366,388,2180,Origem,Destino,45813,66030,-83.744656,42.271746,-83.699989,42.230314,388,24

In [35]:
df_trip388['Trip'].unique()

array([ 818,  907, 1140, 1144, 1190, 1196, 1224, 1428, 1438, 1551, 1665,
       1803, 1806, 1867, 1879, 1912, 1918, 1940, 1976, 2003, 2096, 2120,
       2135, 2180])

## Teste com o veículo 276 para o QGIS

In [71]:
import pandas as pd
import glob
import numpy as np
files = glob.glob("/media/joao/Seagate Expansion Drive 09032021/22122022/ved_descompactados/*.csv")

df = pd.DataFrame()
for f in files:
    plt = pd.read_csv(f, sep = ",")
    df = pd.concat([plt,df], ignore_index=False)
    df = df.loc[(df['VehId'] == 276)]

df

,DayNum,VehId,Trip,Timestamp(ms),Latitude[deg],Longitude[deg],Vehicle Speed[km/h],MAF[g/sec],Engine RPM[RPM],Absolute Load[%],...,Air Conditioning Power[kW],Air Conditioning Power[Watts],Heater Power[Watts],HV Battery Current[A],HV Battery SOC[%],HV Battery Voltage[V],Short Term Fuel Trim Bank 1[%],Short Term Fuel Trim Bank 2[%],Long Term Fuel Trim Bank 1[%],Long Term Fuel Trim Bank 2[%]
14484,372.897793,276,2685,0,42.309357,-83.677397,24.0,6.79,1287.0,41.960785,...,NaN,NaN,NaN,NaN,NaN,NaN,3.12500,NaN,-0.78125,NaN
14485,372.897793,276,2685,1000,42.309357,-83.677397,25.0,6.79,1287.0,41.960785,...,NaN,NaN,NaN,NaN,NaN,NaN,3.12500,NaN,-0.78125,NaN
14486,372.897793,276,2685,1900,42.309357,-83.677397,25.0,5.83,1329.0,22.352942,...,NaN,NaN,NaN,NaN,NaN,NaN,3.12500,NaN,-0.78125,NaN
14487,372.897793,276,2685,2100,42.309357,-83.677397,26.0,5.83,1329.0,22.352942,...,NaN,NaN,NaN,NaN,NaN,NaN,3.12500,NaN,-0.78125,NaN
14488,372.897793,276,2685,2900,42.309357,-83.677397,26.0,5.83,1329.0,22.352942,...,NaN,NaN,NaN,NaN,NaN,NaN,-2.34375,NaN,-0.78125,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
351125,132.914868,276,1437,309400,42.298058,-83.719643,25.0,3.83,863.0,21.176472,...,NaN,NaN,NaN,NaN,NaN,NaN,-0.78125,NaN,-0.78125,NaN
351126,132.914868,276,1437,310000,42.297975,-83.719941,25.0,3.83,863.0,21.176472,...,NaN,NaN,NaN,NaN,NaN,NaN,-0.78125,NaN,-0.78125,NaN
351127,132.914868,276,1437,311300,42.297975,-83.719941,25.0,4.18,865.0,21.176472,...,NaN,NaN,NaN,NaN,NaN,NaN,-0.78125,NaN,-0.78125,NaN
351128,132.914868,276,1437,311900,42.297975,-83.719941,20.0,4.18,865.0,21.176472,...,NaN,NaN,NaN,NaN,NaN,NaN,-0.78125,NaN,-0.78125,NaN
351129,132.914868,276,1437,312900,42.297975,-83.719941,14.0,4.18,865.0,21.176472,...,NaN,NaN,NaN,NaN,NaN,NaN,-0.78125,NaN,-0.78125,NaN

In [74]:
df = df.sort_values(by=['Trip','Timestamp(ms)'])


df

,DayNum,VehId,Trip,Timestamp(ms),Latitude[deg],Longitude[deg],Vehicle Speed[km/h],MAF[g/sec],Engine RPM[RPM],Absolute Load[%],...,Air Conditioning Power[Watts],Heater Power[Watts],HV Battery Current[A],HV Battery SOC[%],HV Battery Voltage[V],Short Term Fuel Trim Bank 1[%],Short Term Fuel Trim Bank 2[%],Long Term Fuel Trim Bank 1[%],Long Term Fuel Trim Bank 2[%],datetime
98979,2.550748,276,882,0,42.317741,-83.679196,80.0,13.05,1739.0,29.411766,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-11-03 13:13:04.625600000
98980,2.550748,276,882,1000,42.317741,-83.679196,80.0,13.23,1747.0,29.411766,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-11-03 13:13:04.625600000
98981,2.550748,276,882,2100,42.317741,-83.679196,80.0,13.23,1747.0,20.784313,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-11-03 13:13:04.625600000
98982,2.550748,276,882,3300,42.317741,-83.679196,79.0,8.34,1719.0,20.784313,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-11-03 13:13:04.625600000
98983,2.550748,276,882,4400,42.317741,-83.679196,78.0,8.34,1719.0,20.784313,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-11-03 13:13:04.625600000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50555,373.520700,276,2688,137000,42.309137,-83.677300,18.0,13.39,1799.0,22.745098,...,NaN,NaN,NaN,NaN,NaN,1.5625,NaN,-3.125,NaN,2018-11-09 12:29:48.519225600
50556,373.520700,276,2688,137100,42.309137,-83.677300,18.0,13.39,1799.0,35.294117,...,NaN,NaN,NaN,NaN,NaN,1.5625,NaN,-3.125,NaN,2018-11-09 12:29:48.519225600
50557,373.520700,276,2688,138000,42.309137,-83.677300,18.0,15.79,1688.0,35.294117,...,NaN,NaN,NaN,NaN,NaN,1.5625,NaN,-3.125,NaN,2018-11-09 12:29:48.519225600
50558,373.520700,276,2688,138100,42.309137,-83.677300,23.0,15.79,1688.0,35.294117,...,NaN,NaN,NaN,NaN,NaN,1.5625,NaN,-3.125,NaN,2018-11-09 12:29:48.519225600
50559,373.520700,276,2688,139200,42.309137,-83.677300,25.0,15.79,1688.0,35.294117,...,NaN,NaN,NaN,NaN,NaN,1.5625,NaN,-3.125,NaN,2018-11-09 12:29:48.519225600

In [75]:
#df = df.sort_values(by='DayNum')

df['datetime'] = pd.to_datetime(df['DayNum'], unit='D', origin=pd.Timestamp('2017-11-01'))


print(df['datetime'].min())

print(df['datetime'].max())


print(df['DayNum'].min())

print(df['DayNum'].max())

print(df.shape)

2017-11-03 13:13:04.625600
2018-11-09 12:29:48.519225600
2.55074798148
373.520700454
(75604, 23)

In [76]:
t = pd.DataFrame()

t = pd.date_range(start='2017-11-03 13:13:04.625600', end='2018-11-09 12:29:48.519225600', periods=75604)


df['datetime'] = t

df.datetime

98979   2017-11-03 13:13:04.625600000
98980   2017-11-03 13:20:08.574436602
98981   2017-11-03 13:27:12.523273204
98982   2017-11-03 13:34:16.472109806
98983   2017-11-03 13:41:20.420946408
                     ...
50555   2018-11-09 12:01:32.723879192
50556   2018-11-09 12:08:36.672715796
50557   2018-11-09 12:15:40.621552396
50558   2018-11-09 12:22:44.570389000
50559   2018-11-09 12:29:48.519225600
Name: datetime, Length: 75604, dtype: datetime64[ns]

In [77]:
df['datetime'] = pd.to_datetime(df['datetime']).round('s')

df.datetime

98979   2017-11-03 13:13:05
98980   2017-11-03 13:20:09
98981   2017-11-03 13:27:13
98982   2017-11-03 13:34:16
98983   2017-11-03 13:41:20
                ...
50555   2018-11-09 12:01:33
50556   2018-11-09 12:08:37
50557   2018-11-09 12:15:41
50558   2018-11-09 12:22:45
50559   2018-11-09 12:29:49
Name: datetime, Length: 75604, dtype: datetime64[ns]

In [78]:
df.to_csv('veiculo276.csv')

## Teste com o veículo 371 para o QGIS

In [31]:
import pandas as pd
import glob
import numpy as np
files = glob.glob("/media/joao/Seagate Expansion Drive 09032021/22122022/ved_descompactados/*.csv")

df = pd.DataFrame()
for f in files:
    plt = pd.read_csv(f, sep = ",")
    df = pd.concat([plt,df], ignore_index=False)
    df = df.loc[(df['VehId'] == 371)]

df

,DayNum,VehId,Trip,Timestamp(ms),Latitude[deg],Longitude[deg],Vehicle Speed[km/h],MAF[g/sec],Engine RPM[RPM],Absolute Load[%],...,Air Conditioning Power[kW],Air Conditioning Power[Watts],Heater Power[Watts],HV Battery Current[A],HV Battery SOC[%],HV Battery Voltage[V],Short Term Fuel Trim Bank 1[%],Short Term Fuel Trim Bank 2[%],Long Term Fuel Trim Bank 1[%],Long Term Fuel Trim Bank 2[%]
19877,372.459839,371,4395,0,42.264828,-83.680335,56.230000,0.71,0.0,NaN,...,NaN,0.0,NaN,-21.750000,84.556953,316.5,0.0,4.6875,NaN,NaN
19878,372.459839,371,4395,500,42.264828,-83.680335,56.910000,0.71,0.0,NaN,...,NaN,0.0,NaN,-18.500000,84.556953,316.5,0.0,4.6875,NaN,NaN
19879,372.459839,371,4395,1500,42.264828,-83.680335,57.289997,0.71,0.0,NaN,...,NaN,0.0,NaN,-16.549988,84.556953,316.5,0.0,4.6875,NaN,NaN
19880,372.459839,371,4395,2300,42.264828,-83.680335,57.289997,0.71,0.0,NaN,...,NaN,0.0,NaN,-16.549988,84.556953,321.5,0.0,4.6875,NaN,NaN
19881,372.459839,371,4395,2500,42.264828,-83.680335,58.520000,0.71,0.0,NaN,...,NaN,0.0,NaN,-16.850037,84.556953,321.5,0.0,4.6875,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
356211,132.670756,371,2301,704800,42.283644,-83.745879,25.760000,0.71,0.0,NaN,...,NaN,0.0,NaN,-31.799988,38.126579,301.5,NaN,NaN,NaN,NaN
356212,132.670756,371,2301,705000,42.283462,-83.745879,25.760000,0.71,0.0,NaN,...,NaN,0.0,NaN,-31.799988,38.126579,301.5,NaN,NaN,NaN,NaN
356213,132.670756,371,2301,705500,42.283462,-83.745879,25.730000,0.71,0.0,NaN,...,NaN,0.0,NaN,-15.900024,38.126579,301.5,NaN,NaN,NaN,NaN
356214,132.670756,371,2301,706600,42.283462,-83.745879,24.760000,0.71,0.0,NaN,...,NaN,0.0,NaN,0.250000,38.126579,301.5,NaN,NaN,NaN,NaN
356215,132.670756,371,2301,707600,42.283462,-83.745879,21.949999,0.71,0.0,NaN,...,NaN,0.0,NaN,26.799988,38.126579,301.5,NaN,NaN,NaN,NaN

In [32]:
df = df.sort_values(by=['Trip','Timestamp(ms)'])


df

,DayNum,VehId,Trip,Timestamp(ms),Latitude[deg],Longitude[deg],Vehicle Speed[km/h],MAF[g/sec],Engine RPM[RPM],Absolute Load[%],...,Air Conditioning Power[kW],Air Conditioning Power[Watts],Heater Power[Watts],HV Battery Current[A],HV Battery SOC[%],HV Battery Voltage[V],Short Term Fuel Trim Bank 1[%],Short Term Fuel Trim Bank 2[%],Long Term Fuel Trim Bank 1[%],Long Term Fuel Trim Bank 2[%]
338822,5.560242,371,1288,0,42.277653,-83.753771,0.000000,0.71,0.0,NaN,...,NaN,200.0,NaN,-13.000000,40.921524,306.5,NaN,NaN,NaN,NaN
338823,5.560242,371,1288,600,42.277653,-83.753771,2.470000,0.71,0.0,NaN,...,NaN,200.0,NaN,-16.400024,40.921524,305.5,NaN,NaN,NaN,NaN
338824,5.560242,371,1288,700,42.277653,-83.753771,2.470000,0.71,0.0,NaN,...,NaN,0.0,NaN,-16.400024,40.921524,305.5,NaN,NaN,NaN,NaN
338825,5.560242,371,1288,1700,42.277653,-83.753771,5.180000,0.71,0.0,NaN,...,NaN,0.0,NaN,-16.400024,40.921524,305.5,NaN,NaN,NaN,NaN
338826,5.560242,371,1288,2700,42.277653,-83.753771,9.929999,0.71,0.0,NaN,...,NaN,0.0,NaN,-16.400024,40.921524,305.5,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21194,372.863264,371,4411,644900,42.282303,-83.734510,43.809998,0.71,0.0,NaN,...,NaN,0.0,NaN,-68.549988,66.848099,298.5,0.0,4.6875,NaN,NaN
21195,372.863264,371,4411,645100,42.282303,-83.734510,43.099998,0.71,0.0,NaN,...,NaN,0.0,NaN,-50.850037,66.848099,298.5,0.0,4.6875,NaN,NaN
21196,372.863264,371,4411,645700,42.282303,-83.734510,43.099998,0.71,0.0,NaN,...,NaN,0.0,NaN,-50.850037,66.848099,307.5,0.0,4.6875,NaN,NaN
21197,372.863264,371,4411,646200,42.282303,-83.734510,41.869999,0.71,0.0,NaN,...,NaN,0.0,NaN,4.099976,66.848099,307.5,0.0,4.6875,NaN,NaN
21198,372.863264,371,4411,647200,42.282303,-83.734510,39.840000,0.71,0.0,NaN,...,NaN,0.0,NaN,-6.600037,66.848099,307.5,0.0,4.6875,NaN,NaN

In [33]:
#df = df.sort_values(by='DayNum')

df['datetime'] = pd.to_datetime(df['DayNum'], unit='D', origin=pd.Timestamp('2017-11-01'))


print(df['datetime'].min())

print(df['datetime'].max())


print(df['DayNum'].min())

print(df['DayNum'].max())

print(df.shape)

2017-11-06 13:26:44.941600
2018-11-08 20:43:06.028780800
5.56024237963
372.863264222
(351393, 23)

In [35]:
t = pd.DataFrame()

t = pd.date_range(start='2017-11-06 13:26:44.941600', end='2018-11-08 20:43:06.028780800', periods=351393)


df['datetime'] = t

df.datetime

338822   2017-11-06 13:26:44.941600000
338823   2017-11-06 13:28:15.253790053
338824   2017-11-06 13:29:45.565980106
338825   2017-11-06 13:31:15.878170159
338826   2017-11-06 13:32:46.190360212
                      ...
21194    2018-11-08 20:37:04.780020584
21195    2018-11-08 20:38:35.092210640
21196    2018-11-08 20:40:05.404400692
21197    2018-11-08 20:41:35.716590744
21198    2018-11-08 20:43:06.028780800
Name: datetime, Length: 351393, dtype: datetime64[ns]

In [36]:
df['datetime'] = pd.to_datetime(df['datetime']).round('s')

df.datetime

338822   2017-11-06 13:26:45
338823   2017-11-06 13:28:15
338824   2017-11-06 13:29:46
338825   2017-11-06 13:31:16
338826   2017-11-06 13:32:46
                 ...
21194    2018-11-08 20:37:05
21195    2018-11-08 20:38:35
21196    2018-11-08 20:40:05
21197    2018-11-08 20:41:36
21198    2018-11-08 20:43:06
Name: datetime, Length: 351393, dtype: datetime64[ns]

In [37]:
df.to_csv('veiculo371.csv')

## Teste com o veículo 388 para o QGIS

In [37]:
import pandas as pd
import glob
import numpy as np
files = glob.glob("/media/joao/Seagate Expansion Drive 09032021/22122022/ved_descompactados/*.csv")

df = pd.DataFrame()
for f in files:
    plt = pd.read_csv(f, sep = ",")
    df = pd.concat([plt,df], ignore_index=False)
    df = df.loc[(df['VehId'] == 388)]

df

,DayNum,VehId,Trip,Timestamp(ms),Latitude[deg],Longitude[deg],Vehicle Speed[km/h],MAF[g/sec],Engine RPM[RPM],Absolute Load[%],...,Air Conditioning Power[kW],Air Conditioning Power[Watts],Heater Power[Watts],HV Battery Current[A],HV Battery SOC[%],HV Battery Voltage[V],Short Term Fuel Trim Bank 1[%],Short Term Fuel Trim Bank 2[%],Long Term Fuel Trim Bank 1[%],Long Term Fuel Trim Bank 2[%]
22180,372.519384,388,2175,0,42.230295,-83.699780,21.340000,13.509999,1158.0,NaN,...,NaN,0.0,NaN,-10.200012,92.037971,334.0,11.71875,0.0,NaN,NaN
22181,372.519384,388,2175,300,42.230295,-83.699780,23.230000,13.509999,1158.0,NaN,...,NaN,0.0,NaN,-12.799988,92.037971,334.0,11.71875,0.0,NaN,NaN
22182,372.519384,388,2175,600,42.230295,-83.699780,23.230000,13.509999,1146.0,NaN,...,NaN,0.0,NaN,-12.799988,92.037971,334.0,11.71875,0.0,NaN,NaN
22183,372.519384,388,2175,700,42.230295,-83.699780,23.230000,5.610000,1146.0,NaN,...,NaN,0.0,NaN,-12.799988,92.037971,334.0,11.71875,0.0,NaN,NaN
22184,372.519384,388,2175,1300,42.230295,-83.699780,25.359999,5.610000,1146.0,NaN,...,NaN,0.0,NaN,-11.549988,92.037971,334.0,11.71875,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
358268,132.865674,388,1131,334300,42.230399,-83.699277,48.570000,0.710000,0.0,NaN,...,NaN,0.0,NaN,4.099976,45.594936,313.5,NaN,NaN,NaN,NaN
358269,132.865674,388,1131,334400,42.230399,-83.699277,47.299999,0.710000,0.0,NaN,...,NaN,0.0,NaN,50.500000,45.594936,313.5,NaN,NaN,NaN,NaN
358270,132.865674,388,1131,335400,42.230399,-83.699277,42.200001,0.710000,0.0,NaN,...,NaN,0.0,NaN,108.200012,45.594936,313.5,NaN,NaN,NaN,NaN
358271,132.865674,388,1131,336400,42.230399,-83.699277,34.439999,0.710000,0.0,NaN,...,NaN,0.0,NaN,77.950012,45.594936,313.5,NaN,NaN,NaN,NaN
358272,132.865674,388,1131,337500,42.230399,-83.699277,30.320000,0.710000,0.0,NaN,...,NaN,0.0,NaN,-4.150024,45.594936,313.5,NaN,NaN,NaN,NaN

In [38]:
df = df.sort_values(by=['Trip','Timestamp(ms)'])


df

,DayNum,VehId,Trip,Timestamp(ms),Latitude[deg],Longitude[deg],Vehicle Speed[km/h],MAF[g/sec],Engine RPM[RPM],Absolute Load[%],...,Air Conditioning Power[kW],Air Conditioning Power[Watts],Heater Power[Watts],HV Battery Current[A],HV Battery SOC[%],HV Battery Voltage[V],Short Term Fuel Trim Bank 1[%],Short Term Fuel Trim Bank 2[%],Long Term Fuel Trim Bank 1[%],Long Term Fuel Trim Bank 2[%]
39079,1.579761,388,636,0,42.263847,-83.757950,0.000000,0.71,0.0,NaN,...,NaN,0.0,NaN,-17.700012,33.263294,300.0,NaN,NaN,NaN,NaN
39080,1.579761,388,636,8500,42.263847,-83.757950,0.000000,0.71,0.0,NaN,...,NaN,0.0,NaN,-17.350037,33.263294,300.0,NaN,NaN,NaN,NaN
39081,1.579761,388,636,13600,42.263847,-83.757950,0.000000,0.71,0.0,NaN,...,NaN,0.0,NaN,-17.700012,33.263294,300.0,NaN,NaN,NaN,NaN
39082,1.579761,388,636,19600,42.263847,-83.757950,0.000000,0.71,0.0,NaN,...,NaN,0.0,NaN,-17.200012,33.263294,300.0,NaN,NaN,NaN,NaN
39083,1.579761,388,636,24600,42.263847,-83.757950,0.000000,0.71,0.0,NaN,...,NaN,0.0,NaN,-14.950012,33.263294,300.5,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102457,374.535685,388,2183,597000,42.279597,-83.750287,23.160000,0.71,0.0,NaN,...,NaN,0.0,NaN,-87.200012,29.708857,296.5,0.0,0.0,NaN,NaN
102458,374.535685,388,2183,598000,42.279594,-83.750047,23.840000,0.71,0.0,NaN,...,NaN,0.0,NaN,-23.549988,29.708857,296.5,0.0,0.0,NaN,NaN
102459,374.535685,388,2183,599000,42.279594,-83.750047,19.910000,0.71,0.0,NaN,...,NaN,0.0,NaN,-4.500000,29.708857,296.5,0.0,0.0,NaN,NaN
102460,374.535685,388,2183,599800,42.279594,-83.750047,19.910000,0.71,0.0,NaN,...,NaN,0.0,NaN,-4.500000,29.708857,296.0,0.0,0.0,NaN,NaN
102461,374.535685,388,2183,600100,42.279594,-83.750047,17.859999,0.71,0.0,NaN,...,NaN,0.0,NaN,-64.000000,29.708857,296.0,0.0,0.0,NaN,NaN

In [39]:
#df = df.sort_values(by='DayNum')

df['datetime'] = pd.to_datetime(df['DayNum'], unit='D', origin=pd.Timestamp('2017-11-01'))


print(df['datetime'].min())

print(df['datetime'].max())


print(df['DayNum'].min())

print(df['DayNum'].max())

print(df.shape)

2017-11-02 13:54:51.361600
2018-11-10 12:51:23.212771328
1.57976112963
374.535685333
(331418, 23)

In [40]:
t = pd.DataFrame()

t = pd.date_range(start='2017-11-02 13:54:51.361600', end='2018-11-10 12:51:23.212771328', periods=331418)


df['datetime'] = t

df.datetime

39079    2017-11-02 13:54:51.361600000
39080    2017-11-02 13:56:28.590745913
39081    2017-11-02 13:58:05.819891826
39082    2017-11-02 13:59:43.049037740
39083    2017-11-02 14:01:20.278183653
                      ...
102457   2018-11-10 12:44:54.296187676
102458   2018-11-10 12:46:31.525333588
102459   2018-11-10 12:48:08.754479500
102460   2018-11-10 12:49:45.983625416
102461   2018-11-10 12:51:23.212771328
Name: datetime, Length: 331418, dtype: datetime64[ns]

In [41]:
df['datetime'] = pd.to_datetime(df['datetime']).round('s')

df.datetime

39079    2017-11-02 13:54:51
39080    2017-11-02 13:56:29
39081    2017-11-02 13:58:06
39082    2017-11-02 13:59:43
39083    2017-11-02 14:01:20
                 ...
102457   2018-11-10 12:44:54
102458   2018-11-10 12:46:32
102459   2018-11-10 12:48:09
102460   2018-11-10 12:49:46
102461   2018-11-10 12:51:23
Name: datetime, Length: 331418, dtype: datetime64[ns]

In [42]:
df.to_csv('veiculo388.csv')

## Veículo 450: grids que podem ser iguais e o mesmo veículo

In [73]:
vei450 = res[res['VehId_x'] == 450]

vei450

     VehId_x  grid_origem  grid_destino  repetições
240      450        64044         74563           5
241      450        64462         74563           5
242      450        66520         74563           6
243      450        69505         74563           5
244      450        69900         74563           5
245      450        74155         74563          13
246      450        74155         74987           7
247      450        74551         74563          10
248      450        74555         74563           7
249      450        74556         74563          13
250      450        74556         74987           5
251      450        74987         74987          86
252      450        74988         74987           7

### Eliminação do valor máximo com os grids repetidos

In [89]:
vei450 = vei450.drop(vei450[vei450['repetições'] == 86].index)

vei450

     VehId_x  grid_origem  grid_destino  repetições
240      450        64044         74563           5
241      450        64462         74563           5
242      450        66520         74563           6
243      450        69505         74563           5
244      450        69900         74563           5
245      450        74155         74563          13
246      450        74155         74987           7
247      450        74551         74563          10
248      450        74555         74563           7
249      450        74556         74563          13
250      450        74556         74987           5
252      450        74988         74987           7

In [90]:
df_trip450 = df_final.merge(vei450, how='inner', on=['grid_origem','grid_destino'])

df_trip450

,Unnamed: 0,VehId_x_x,Trip,Origens,Destinos,grid_origem,grid_destino,lon_x,lat_x,lon_y,lat_y,VehId_x_y,repetições
0,5,450,813,Origem,Destino,74556,74563,-83.682560,42.292416,-83.681899,42.296887,450,13
1,43,450,966,Origem,Destino,74556,74563,-83.682402,42.292374,-83.682027,42.296705,450,13
2,47,450,987,Origem,Destino,74556,74563,-83.682530,42.292518,-83.681927,42.296747,450,13
3,56,450,1021,Origem,Destino,74556,74563,-83.682597,42.292296,-83.681941,42.296759,450,13
4,64,450,1064,Origem,Destino,74556,74563,-83.682289,42.292568,-83.681928,42.297264,450,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,361,450,2339,Origem,Destino,64044,74563,-83.704373,42.302613,-83.681973,42.297211,450,5
96,369,450,2363,Origem,Destino,64044,74563,-83.704376,42.302603,-83.681913,42.297237,450,5
97,378,450,2408,Origem,Destino,64044,74563,-83.704455,42.302571,-83.681963,42.297189,450,5
98,26,447,942,Origem,Destino,64044,74563,-83.704344,42.302362,-83.681962,42.297272,450,5
99,30,447,976,Origem,Destino,64044,74563,-83.704635,42.302513,-83.681890,42.296951,450,5

In [91]:
df_trip450 = df_trip450[(df_trip450['repetições'] == df_trip450['repetições'].max()) & (df_trip450['grid_origem'] == 74155) & (df_trip450['grid_destino'] == 74563) &
                       (df_trip450['VehId_x_x'] == df_trip450['VehId_x_y'])]

df_trip450

,Unnamed: 0,VehId_x_x,Trip,Origens,Destinos,grid_origem,grid_destino,lon_x,lat_x,lon_y,lat_y,VehId_x_y,repetições
52,59,450,1033,Origem,Destino,74155,74563,-83.683125,42.307558,-83.681977,42.297164,450,13
53,87,450,1176,Origem,Destino,74155,74563,-83.682907,42.307624,-83.681958,42.297163,450,13
54,94,450,1199,Origem,Destino,74155,74563,-83.683376,42.307719,-83.681929,42.297211,450,13
55,114,450,1274,Origem,Destino,74155,74563,-83.683112,42.307484,-83.682046,42.297217,450,13
56,133,450,1358,Origem,Destino,74155,74563,-83.683084,42.307624,-83.682009,42.297259,450,13
57,188,450,1559,Origem,Destino,74155,74563,-83.683088,42.307516,-83.682083,42.297278,450,13
58,190,450,1564,Origem,Destino,74155,74563,-83.683121,42.307719,-83.681941,42.297211,450,13
59,221,450,1697,Origem,Destino,74155,74563,-83.683244,42.307414,-83.682184,42.297174,450,13
60,245,450,1839,Origem,Destino,74155,74563,-83.683275,42.307572,-83.681970,42.297130,450,13
61,274,450,1950,Origem,Destino,74155,74563,-83.683139,42.307564,-83.682007,42.297252,450,13
62,308,450,2110,Origem,Destino,74155,74563,-83.683028,42.307466,-83.681914,42.297172,450,13
63,330,450,2221,Origem,Destino,74155,74563,-83.683132,42.307456,-83.681949,42.297088,450,13
64,339,450,2255,Origem,Destino,74155,74563,-83.683199,42.307546,-83.682169,42.297173,450,13

In [92]:
df_trip450['Trip'].unique()

array([1033, 1176, 1199, 1274, 1358, 1559, 1564, 1697, 1839, 1950, 2110,
       2221, 2255])

## Teste com o veículo 450 para o QGIS

In [80]:
import pandas as pd
import glob
import numpy as np
files = glob.glob("/media/joao/Seagate Expansion Drive 09032021/22122022/ved_descompactados/*.csv")

df = pd.DataFrame()
for f in files:
    plt = pd.read_csv(f, sep = ",")
    df = pd.concat([plt,df], ignore_index=False)
    df = df.loc[(df['VehId'] == 450)]

df

,DayNum,VehId,Trip,Timestamp(ms),Latitude[deg],Longitude[deg],Vehicle Speed[km/h],MAF[g/sec],Engine RPM[RPM],Absolute Load[%],...,Air Conditioning Power[kW],Air Conditioning Power[Watts],Heater Power[Watts],HV Battery Current[A],HV Battery SOC[%],HV Battery Voltage[V],Short Term Fuel Trim Bank 1[%],Short Term Fuel Trim Bank 2[%],Long Term Fuel Trim Bank 1[%],Long Term Fuel Trim Bank 2[%]
59942,373.672255,450,2548,0,42.292475,-83.682453,66.0,15.790000,1792.0,31.764706,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59943,373.672255,450,2548,600,42.292475,-83.682453,67.0,15.790000,1792.0,31.764706,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59944,373.672255,450,2548,1700,42.292475,-83.682453,68.0,15.790000,1792.0,31.764706,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59945,373.672255,450,2548,2000,42.292475,-83.682453,68.0,15.790000,1792.0,45.490196,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59946,373.672255,450,2548,2100,42.292475,-83.682453,68.0,9.179999,1120.0,45.490196,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317934,131.834911,450,1296,253900,42.296992,-83.681580,29.0,0.180000,0.0,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,3.90625,NaN
317935,131.834911,450,1296,255000,42.296992,-83.681580,31.0,0.180000,0.0,45.882355,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,3.90625,NaN
317936,131.834911,450,1296,256000,42.296992,-83.681580,40.0,40.619999,3191.0,45.882355,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,3.90625,NaN
317937,131.834911,450,1296,257000,42.296968,-83.681218,47.0,40.619999,3191.0,45.882355,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,3.90625,NaN
317938,131.834911,450,1296,258100,42.296968,-83.681218,52.0,32.779999,3150.0,45.882355,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,3.90625,NaN

In [81]:
df = df.sort_values(by=['Trip','Timestamp(ms)'])


df

,DayNum,VehId,Trip,Timestamp(ms),Latitude[deg],Longitude[deg],Vehicle Speed[km/h],MAF[g/sec],Engine RPM[RPM],Absolute Load[%],...,Air Conditioning Power[kW],Air Conditioning Power[Watts],Heater Power[Watts],HV Battery Current[A],HV Battery SOC[%],HV Battery Voltage[V],Short Term Fuel Trim Bank 1[%],Short Term Fuel Trim Bank 2[%],Long Term Fuel Trim Bank 1[%],Long Term Fuel Trim Bank 2[%]
46634,1.948142,450,771,0,42.287613,-83.686838,44.0,0.20,0.0,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46635,1.948142,450,771,1100,42.287613,-83.686838,45.0,0.20,0.0,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46636,1.948142,450,771,2000,42.287613,-83.686838,45.0,0.18,0.0,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46637,1.948142,450,771,4200,42.287613,-83.686838,47.0,0.18,0.0,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46638,1.948142,450,771,4500,42.287866,-83.687746,47.0,0.18,0.0,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107240,374.733210,450,2553,1837500,42.297070,-83.681701,36.0,0.18,0.0,57.254902,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107241,374.733210,450,2553,1837600,42.297070,-83.681701,36.0,27.07,2624.0,57.254902,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107242,374.733210,450,2553,1838100,42.296993,-83.681369,36.0,27.07,2624.0,57.254902,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107243,374.733210,450,2553,1838600,42.296993,-83.681369,42.0,27.07,2624.0,57.254902,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107244,374.733210,450,2553,1839600,42.296993,-83.681369,47.0,30.01,3104.0,57.254902,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [82]:
#df = df.sort_values(by='DayNum')

df['datetime'] = pd.to_datetime(df['DayNum'], unit='D', origin=pd.Timestamp('2017-11-01'))


print(df['datetime'].min())

print(df['datetime'].max())


print(df['DayNum'].min())

print(df['DayNum'].max())

print(df.shape)

2017-11-02 22:45:19.495199744
2018-11-10 17:35:49.385558528
1.94814230555
374.733210481
(362712, 23)

In [84]:
t = pd.DataFrame()

t = pd.date_range(start='2017-11-02 22:45:19.495199744', end='2018-11-10 17:35:49.385558528', periods=362712)


df['datetime'] = t

df.datetime

46634    2017-11-02 22:45:19.495199744
46635    2017-11-02 22:46:48.294904992
46636    2017-11-02 22:48:17.094610240
46637    2017-11-02 22:49:45.894315489
46638    2017-11-02 22:51:14.694020737
                      ...
107240   2018-11-10 17:29:54.186737536
107241   2018-11-10 17:31:22.986442784
107242   2018-11-10 17:32:51.786148032
107243   2018-11-10 17:34:20.585853280
107244   2018-11-10 17:35:49.385558528
Name: datetime, Length: 362712, dtype: datetime64[ns]

In [85]:
df['datetime'] = pd.to_datetime(df['datetime']).round('s')

df.datetime

46634    2017-11-02 22:45:19
46635    2017-11-02 22:46:48
46636    2017-11-02 22:48:17
46637    2017-11-02 22:49:46
46638    2017-11-02 22:51:15
                 ...
107240   2018-11-10 17:29:54
107241   2018-11-10 17:31:23
107242   2018-11-10 17:32:52
107243   2018-11-10 17:34:21
107244   2018-11-10 17:35:49
Name: datetime, Length: 362712, dtype: datetime64[ns]

In [86]:
df.to_csv('veiculo450.csv')

## Veículo 550: grids diferentes e o mesmo veículo

In [93]:
vei550 = res[res['VehId_x'] == 550]

vei550

     VehId_x  grid_origem  grid_destino  repetições
332      550        64033         71591           8
333      550        64034         71591          13
334      550        64034         76704           6
335      550        64034         78354          12
336      550        71169         64033           7
337      550        71169         64034           5
338      550        71592         64033           5
339      550        74544         78354           5
340      550        74548         78354          11
341      550        74550         78354           6
342      550        77130         74556           6
343      550        77130         74557           5
344      550        78354         74545           5
345      550        78354         74547           7
346      550        78354         74550          20

In [94]:
df_trip550 = df_final.merge(vei550, how='inner', on=['grid_origem','grid_destino'])

df_trip550

,Unnamed: 0,VehId_x_x,Trip,Origens,Destinos,grid_origem,grid_destino,lon_x,lat_x,lon_y,lat_y,VehId_x_y,repetições
0,19,415,836,Origem,Destino,64034,78354,-83.704754,42.295479,-83.674478,42.274270,550,12
1,65,311,2718,Origem,Destino,64034,78354,-83.704962,42.295457,-83.674529,42.274393,550,12
2,7,12,487,Origem,Destino,64034,78354,-83.704977,42.295354,-83.674572,42.274254,550,12
3,57,12,752,Origem,Destino,64034,78354,-83.704903,42.295339,-83.674627,42.274361,550,12
4,112,12,1027,Origem,Destino,64034,78354,-83.705102,42.295356,-83.674651,42.274311,550,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,130,550,1885,Origem,Destino,64033,71591,-83.704804,42.295158,-83.688800,42.289889,550,8
164,141,550,1960,Origem,Destino,64033,71591,-83.705038,42.295277,-83.688724,42.289855,550,8
165,196,550,2318,Origem,Destino,64033,71591,-83.704925,42.295327,-83.688726,42.289829,550,8
166,227,550,2541,Origem,Destino,64033,71591,-83.704772,42.295314,-83.688731,42.289842,550,8
167,244,550,2675,Origem,Destino,64033,71591,-83.705041,42.295284,-83.688791,42.289867,550,8

In [95]:
df_trip550 = df_trip550[(df_trip550['repetições'] == df_trip550['repetições'].max()) & (df_trip550['grid_origem'] != df_trip550['grid_destino']) &
                       (df_trip550['VehId_x_x'] == df_trip550['VehId_x_y'])]

df_trip550

,Unnamed: 0,VehId_x_x,Trip,Origens,Destinos,grid_origem,grid_destino,lon_x,lat_x,lon_y,lat_y,VehId_x_y,repetições
60,24,550,680,Origem,Destino,78354,74550,-83.674301,42.274458,-83.682433,42.288208,550,20
61,33,550,839,Origem,Destino,78354,74550,-83.674053,42.274328,-83.682418,42.288067,550,20
62,48,550,1125,Origem,Destino,78354,74550,-83.674307,42.274464,-83.682320,42.288154,550,20
63,97,550,1638,Origem,Destino,78354,74550,-83.674226,42.274391,-83.682336,42.288148,550,20
64,107,550,1718,Origem,Destino,78354,74550,-83.674055,42.274395,-83.682434,42.288223,550,20
65,124,550,1838,Origem,Destino,78354,74550,-83.674150,42.274478,-83.682406,42.288082,550,20
66,144,550,1977,Origem,Destino,78354,74550,-83.674142,42.274390,-83.682399,42.288135,550,20
67,146,550,1991,Origem,Destino,78354,74550,-83.674115,42.274564,-83.682333,42.288292,550,20
68,149,550,2009,Origem,Destino,78354,74550,-83.674354,42.274416,-83.682294,42.288137,550,20
69,159,550,2092,Origem,Destino,78354,74550,-83.674044,42.274476,-83.682336,42.288104,550,20
70,160,550,2099,Origem,Destino,78354,74550,-83.674120,42.274362,-83.682438,42.288049,550,20
71,175,550,2215,Origem,Destino,78354,74550,-83.674188,42.274542,-83.682327,42.288137,550,20
72,193,550,2300,Origem,Destino,78354,74550,-83.674164,42.274379,-83.682413,42.288135,550,20
73,199,550,2338,Origem,Destino,78354,74550,-83.674195,42.274695,-83.682251,42.288416,550,20
74,208,550,2424,Origem,Destino,78354,74550,-83.674289,42.274534,-83.682386,42.288103,550,20
75,211,550,2452,Origem,Destino,78354,74550,-83.674069,42.274628,-83.682249,42.288059,550,20
76,214,550,2456,Origem,Destino,78354,74550,-83.674341,42.274308,-83.682224,42.288060,550,20
77,265,550,2795,Origem,Destino,78354,74550,-83.674154,42.274382,-83.682348,42.288102,550,20
78,275,550,2872,Origem,Destino,78354,74550,-83.674180,42.274448,-83.682421,42.288233,550,20
79,290,550,3030,Origem,Destino,78354,74550,-83.674219,42.274453,-83.682366,42.288059,550,20

In [96]:
df_trip550['Trip'].unique()

array([ 680,  839, 1125, 1638, 1718, 1838, 1977, 1991, 2009, 2092, 2099,
       2215, 2300, 2338, 2424, 2452, 2456, 2795, 2872, 3030])

## Teste com o veículo 550 para o QGIS

In [97]:
import pandas as pd
import glob
import numpy as np
files = glob.glob("/media/joao/Seagate Expansion Drive 09032021/22122022/ved_descompactados/*.csv")

df = pd.DataFrame()
for f in files:
    plt = pd.read_csv(f, sep = ",")
    df = pd.concat([plt,df], ignore_index=False)
    df = df.loc[(df['VehId'] == 550)]

df

,DayNum,VehId,Trip,Timestamp(ms),Latitude[deg],Longitude[deg],Vehicle Speed[km/h],MAF[g/sec],Engine RPM[RPM],Absolute Load[%],...,Air Conditioning Power[kW],Air Conditioning Power[Watts],Heater Power[Watts],HV Battery Current[A],HV Battery SOC[%],HV Battery Voltage[V],Short Term Fuel Trim Bank 1[%],Short Term Fuel Trim Bank 2[%],Long Term Fuel Trim Bank 1[%],Long Term Fuel Trim Bank 2[%]
37451,372.091519,550,3096,0,42.309324,-83.677293,16.234375,NaN,0.0,NaN,...,0.24,NaN,3800.0,-63.300003,15.294123,349.250,NaN,NaN,NaN,NaN
37452,372.091519,550,3096,800,42.309324,-83.677293,21.671875,NaN,0.0,NaN,...,0.24,NaN,3800.0,-78.750000,15.294123,349.250,NaN,NaN,NaN,NaN
37453,372.091519,550,3096,1800,42.309324,-83.677293,25.906250,NaN,0.0,NaN,...,0.24,NaN,3800.0,-62.250004,15.294123,349.250,NaN,NaN,NaN,NaN
37454,372.091519,550,3096,2700,42.309324,-83.677293,25.906250,NaN,0.0,NaN,...,0.24,NaN,3800.0,-62.250004,15.294123,343.125,NaN,NaN,NaN,NaN
37455,372.091519,550,3096,2800,42.309324,-83.677293,29.234375,NaN,0.0,NaN,...,0.24,NaN,3800.0,-67.650002,15.294123,343.125,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
396518,133.724346,550,1535,204900,42.295215,-83.704060,61.734375,NaN,0.0,NaN,...,0.00,NaN,NaN,16.800001,95.294151,378.500,NaN,NaN,NaN,NaN
396519,133.724346,550,1535,205300,42.295215,-83.704060,60.468750,NaN,0.0,NaN,...,0.00,NaN,NaN,20.250000,95.294151,378.500,NaN,NaN,NaN,NaN
396520,133.724346,550,1535,206100,42.295215,-83.704060,60.468750,NaN,0.0,NaN,...,0.00,NaN,NaN,20.250000,95.294151,382.750,NaN,NaN,NaN,NaN
396521,133.724346,550,1535,206300,42.295215,-83.704060,59.015625,NaN,0.0,NaN,...,0.00,NaN,NaN,13.500001,95.294151,382.750,NaN,NaN,NaN,NaN
396522,133.724346,550,1535,207300,42.295215,-83.704060,58.593750,NaN,0.0,NaN,...,0.00,NaN,NaN,-9.900001,95.294151,382.750,NaN,NaN,NaN,NaN

In [98]:
df = df.sort_values(by=['Trip','Timestamp(ms)'])


df

,DayNum,VehId,Trip,Timestamp(ms),Latitude[deg],Longitude[deg],Vehicle Speed[km/h],MAF[g/sec],Engine RPM[RPM],Absolute Load[%],...,Air Conditioning Power[kW],Air Conditioning Power[Watts],Heater Power[Watts],HV Battery Current[A],HV Battery SOC[%],HV Battery Voltage[V],Short Term Fuel Trim Bank 1[%],Short Term Fuel Trim Bank 2[%],Long Term Fuel Trim Bank 1[%],Long Term Fuel Trim Bank 2[%]
64987,1.002938,550,413,0,42.291749,-83.682617,13.421875,NaN,0.0,NaN,...,0.60,NaN,NaN,-74.100006,12.549024,348.50,NaN,NaN,NaN,NaN
64988,1.002938,550,413,300,42.291749,-83.682617,19.484375,NaN,0.0,NaN,...,0.60,NaN,NaN,-74.100006,12.549024,348.50,NaN,NaN,NaN,NaN
64989,1.002938,550,413,1400,42.291749,-83.682617,25.265625,NaN,0.0,NaN,...,0.60,NaN,NaN,-74.100006,12.549024,348.50,NaN,NaN,NaN,NaN
64990,1.002938,550,413,2400,42.291749,-83.682617,29.687500,NaN,0.0,NaN,...,0.60,NaN,NaN,-74.100006,12.549024,348.50,NaN,NaN,NaN,NaN
64991,1.002938,550,413,3500,42.291749,-83.682617,35.218750,NaN,0.0,NaN,...,0.60,NaN,NaN,-74.100006,12.549024,348.50,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110207,374.542273,550,3115,193700,42.295235,-83.704289,26.828125,NaN,0.0,NaN,...,0.24,NaN,2900.0,-10.650001,93.725517,380.25,NaN,NaN,NaN,NaN
110208,374.542273,550,3115,194200,42.295279,-83.704552,26.828125,NaN,0.0,NaN,...,0.24,NaN,2900.0,-10.650001,93.725517,380.25,NaN,NaN,NaN,NaN
110209,374.542273,550,3115,194800,42.295279,-83.704552,26.343750,NaN,0.0,NaN,...,0.24,NaN,2900.0,-14.400001,93.725517,380.25,NaN,NaN,NaN,NaN
110210,374.542273,550,3115,195900,42.295279,-83.704552,26.500000,NaN,0.0,NaN,...,0.24,NaN,2900.0,-9.600000,93.725517,380.25,NaN,NaN,NaN,NaN
110211,374.542273,550,3115,197000,42.295279,-83.704552,24.625000,NaN,0.0,NaN,...,0.24,NaN,2900.0,-3.750000,93.725517,380.25,NaN,NaN,NaN,NaN

In [99]:
#df = df.sort_values(by='DayNum')

df['datetime'] = pd.to_datetime(df['DayNum'], unit='D', origin=pd.Timestamp('2017-11-01'))


print(df['datetime'].min())

print(df['datetime'].max())


print(df['DayNum'].min())

print(df['DayNum'].max())

print(df.shape)

2017-11-02 00:04:13.838400512
2018-11-10 13:00:52.427203328
1.00293794445
374.542273463
(95833, 23)

In [100]:
t = pd.DataFrame()

t = pd.date_range(start='2017-11-02 00:04:13.838400512', end='2018-11-10 13:00:52.427203328', periods=95833)


df['datetime'] = t

df.datetime

64987    2017-11-02 00:04:13.838400512
64988    2017-11-02 00:09:50.613158304
64989    2017-11-02 00:15:27.387916097
64990    2017-11-02 00:21:04.162673890
64991    2017-11-02 00:26:40.937431683
                      ...
110207   2018-11-10 12:38:25.328172156
110208   2018-11-10 12:44:02.102929948
110209   2018-11-10 12:49:38.877687740
110210   2018-11-10 12:55:15.652445532
110211   2018-11-10 13:00:52.427203328
Name: datetime, Length: 95833, dtype: datetime64[ns]

In [101]:
df['datetime'] = pd.to_datetime(df['datetime']).round('s')

df.datetime

64987    2017-11-02 00:04:14
64988    2017-11-02 00:09:51
64989    2017-11-02 00:15:27
64990    2017-11-02 00:21:04
64991    2017-11-02 00:26:41
                 ...
110207   2018-11-10 12:38:25
110208   2018-11-10 12:44:02
110209   2018-11-10 12:49:39
110210   2018-11-10 12:55:16
110211   2018-11-10 13:00:52
Name: datetime, Length: 95833, dtype: datetime64[ns]

In [102]:
df.to_csv('veiculo550.csv')

## Veículo 560: grids diferentes e o mesmo veículo

In [103]:
vei560 = res[res['VehId_x'] == 560]

vei560

     VehId_x  grid_origem  grid_destino  repetições
350      560        45825         78354           6
351      560        78354         44602           6
352      560        78354         45009           6
353      560        78354         45012           9
354      560        78354         45013           9
355      560        78354         45422           6
356      560        78354         47466          14
357      560        78354         77480           6
358      560        78354         77896           8
359      560        78354         77928          36
360      560        78354         78321           6
361      560        78354         78354          91

In [105]:
vei560 = vei560.drop(vei560[vei560['repetições'] == 91].index)

vei560

     VehId_x  grid_origem  grid_destino  repetições
350      560        45825         78354           6
351      560        78354         44602           6
352      560        78354         45009           6
353      560        78354         45012           9
354      560        78354         45013           9
355      560        78354         45422           6
356      560        78354         47466          14
357      560        78354         77480           6
358      560        78354         77896           8
359      560        78354         77928          36
360      560        78354         78321           6

In [106]:
df_trip560 = df_final.merge(vei560, how='inner', on=['grid_origem','grid_destino'])

df_trip560

,Unnamed: 0,VehId_x_x,Trip,Origens,Destinos,grid_origem,grid_destino,lon_x,lat_x,lon_y,lat_y,VehId_x_y,repetições
0,54,311,2492,Origem,Destino,78354,77896,-83.674084,42.274455,-83.674759,42.252832,560,8
1,34,203,937,Origem,Destino,78354,77896,-83.674342,42.274513,-83.675015,42.252854,560,8
2,41,560,117,Origem,Destino,78354,77896,-83.674010,42.274535,-83.674828,42.252796,560,8
3,204,560,745,Origem,Destino,78354,77896,-83.674186,42.274695,-83.674733,42.252806,560,8
4,255,560,1007,Origem,Destino,78354,77896,-83.674093,42.274387,-83.675204,42.252839,560,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
134,206,560,750,Origem,Destino,45825,78354,-83.744077,42.279536,-83.674625,42.274371,560,6
135,214,560,786,Origem,Destino,45825,78354,-83.744081,42.279520,-83.674441,42.274375,560,6
136,219,560,818,Origem,Destino,45825,78354,-83.744191,42.279547,-83.674653,42.274340,560,6
137,309,560,1291,Origem,Destino,45825,78354,-83.743994,42.279877,-83.674479,42.274262,560,6
138,365,560,1573,Origem,Destino,45825,78354,-83.744074,42.280011,-83.674625,42.274289,560,6

In [107]:
df_trip560 = df_trip560[(df_trip560['repetições'] == df_trip560['repetições'].max()) & (df_trip560['grid_origem'] != df_trip560['grid_destino']) &
                       (df_trip560['VehId_x_x'] == df_trip560['VehId_x_y'])]

df_trip560

,Unnamed: 0,VehId_x_x,Trip,Origens,Destinos,grid_origem,grid_destino,lon_x,lat_x,lon_y,lat_y,VehId_x_y,repetições
25,7,560,14,Origem,Destino,78354,77928,-83.674294,42.274697,-83.674822,42.274289,560,36
26,16,560,58,Origem,Destino,78354,77928,-83.674147,42.274716,-83.674807,42.274323,560,36
27,28,560,85,Origem,Destino,78354,77928,-83.674168,42.274417,-83.674835,42.274255,560,36
28,36,560,110,Origem,Destino,78354,77928,-83.674073,42.274369,-83.674756,42.274336,560,36
29,40,560,116,Origem,Destino,78354,77928,-83.674186,42.274416,-83.674762,42.274336,560,36
30,47,560,135,Origem,Destino,78354,77928,-83.674105,42.274468,-83.674694,42.274390,560,36
31,65,560,190,Origem,Destino,78354,77928,-83.674259,42.274560,-83.674717,42.274337,560,36
32,70,560,199,Origem,Destino,78354,77928,-83.674147,42.274465,-83.674805,42.274399,560,36
33,89,560,263,Origem,Destino,78354,77928,-83.674063,42.274514,-83.674806,42.274409,560,36
34,97,560,304,Origem,Destino,78354,77928,-83.674186,42.274466,-83.674780,42.274357,560,36
35,98,560,305,Origem,Destino,78354,77928,-83.674008,42.274691,-83.674712,42.274245,560,36
36,102,560,310,Origem,Destino,78354,77928,-83.674233,42.274602,-83.674704,42.274334,560,36
37,112,560,356,Origem,Destino,78354,77928,-83.674027,42.274404,-83.674830,42.274407,560,36
38,116,560,368,Origem,Destino,78354,77928,-83.674019,42.274619,-83.674842,42.274394,560,36
39,135,560,455,Origem,Destino,78354,77928,-83.674079,42.274535,-83.674703,42.274389,560,36
40,136,560,456,Origem,Destino,78354,77928,-83.674218,42.274494,-83.674713,42.274168,560,36
41,138,560,460,Origem,Destino,78354,77928,-83.674321,42.274431,-83.674763,42.274269,560,36
42,175,560,601,Origem,Destino,78354,77928,-83.674186,42.274380,-83.674754,42.274417,560,36
43,178,560,606,Origem,Destino,78354,77928,-83.674215,42.274487,-83.674707,42.274325,560,36
44,182,560,616,Origem,Destino,78354,77928,-83.674086,42.274413,-83.674701,42.274342,560,36
45,187,560,660,Origem,Destino,78354,77928,-83.674168,42.274498,-83.674721,42.274384,560,36
46,199,560,727,Origem,Destino,78354,77928,-83.674107,42.274607,-83.674811,42.274381,560,36
47,211,560,776,Origem,Destino,78354,77928,-83.674040,42.274509,-83.674873,42.274504,560,36
48,218,560,815,Origem,Destino,78354,77928,-83.674109,42.274530,-83.674740,42.274396,560,36
49,225,560,835,Origem,Destino,78354,77928,-83.674121,42.274501,-83.674774,42.274228,560,36
50,229,560,855,Origem,Destino,78354,77928,-83.674031,42.274474,-83.674786,42.274353,560,36
51,245,560,952,Origem,Destino,78354,77928,-83.674168,42.274564,-83.674706,42.274131,560,36
52,247,560,970,Origem,Destino,78354,77928,-83.674020,42.274416,-83.674710,42.274423,560,36
53,252,560,997,Origem,Destino,78354,77928,-83.674243,42.274518,-83.674730,42.274454,560,36
54,261,560,1043,Origem,Destino,78354,77928,-83.674168,42.274470,-83.674707,42.274341,560,36
55,270,560,1074,Origem,Destino,78354,77928,-83.674166,42.274520,-83.674728,42.274317,560,36
56,272,560,1093,Origem,Destino,78354,77928,-83.674166,42.274484,-83.674808,42.274381,560,36
57,275,560,1098,Origem,Destino,78354,77928,-83.674101,42.274455,-83.674810,42.274428,560,36
58,283,560,1116,Origem,Destino,78354,77928,-83.674200,42.274470,-83.674776,42.274405,560,36
59,376,560,1635,Origem,Destino,78354,77928,-83.674098,42.274575,-83.674728,42.274367,560,36
60,380,560,1659,Origem,Destino,78354,77928,-83.674123,42.274450,-83.674783,42.274430,560,36

In [108]:
df_trip560['Trip'].unique()

array([  14,   58,   85,  110,  116,  135,  190,  199,  263,  304,  305,
        310,  356,  368,  455,  456,  460,  601,  606,  616,  660,  727,
        776,  815,  835,  855,  952,  970,  997, 1043, 1074, 1093, 1098,
       1116, 1635, 1659])

## Teste com o veículo 560 para o QGIS

In [109]:
import pandas as pd
import glob
import numpy as np
files = glob.glob("/media/joao/Seagate Expansion Drive 09032021/22122022/ved_descompactados/*.csv")

df = pd.DataFrame()
for f in files:
    plt = pd.read_csv(f, sep = ",")
    df = pd.concat([plt,df], ignore_index=False)
    df = df.loc[(df['VehId'] == 560)]

df

,DayNum,VehId,Trip,Timestamp(ms),Latitude[deg],Longitude[deg],Vehicle Speed[km/h],MAF[g/sec],Engine RPM[RPM],Absolute Load[%],...,Air Conditioning Power[kW],Air Conditioning Power[Watts],Heater Power[Watts],HV Battery Current[A],HV Battery SOC[%],HV Battery Voltage[V],Short Term Fuel Trim Bank 1[%],Short Term Fuel Trim Bank 2[%],Long Term Fuel Trim Bank 1[%],Long Term Fuel Trim Bank 2[%]
83055,373.556549,560,1676,0,42.274480,-83.674061,23.0,0.180000,0.0,NaN,...,NaN,0.0,NaN,-107.559998,54.0,200.5,0.0,0.0,NaN,NaN
83056,373.556549,560,1676,800,42.274480,-83.674061,25.0,0.180000,0.0,NaN,...,NaN,0.0,NaN,-61.619995,54.0,200.5,0.0,0.0,NaN,NaN
83057,373.556549,560,1676,1900,42.274480,-83.674061,25.0,0.180000,0.0,NaN,...,NaN,0.0,NaN,-30.339996,54.0,200.5,0.0,0.0,NaN,NaN
83058,373.556549,560,1676,2400,42.274480,-83.674061,25.0,0.180000,0.0,NaN,...,NaN,0.0,NaN,-30.339996,54.0,198.0,0.0,0.0,NaN,NaN
83059,373.556549,560,1676,2900,42.274480,-83.674061,27.0,0.180000,0.0,NaN,...,NaN,0.0,NaN,-63.089996,54.0,198.0,0.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271727,130.563069,560,448,767400,42.280702,-83.746001,27.0,12.009999,1467.0,NaN,...,NaN,0.0,NaN,-75.309998,0.0,198.0,NaN,NaN,NaN,NaN
271728,130.563069,560,448,767700,42.280702,-83.746001,30.0,12.009999,1467.0,NaN,...,NaN,0.0,NaN,-75.309998,0.0,198.0,NaN,NaN,NaN,NaN
271729,130.563069,560,448,767800,42.280702,-83.746001,30.0,12.009999,1467.0,NaN,...,NaN,0.0,NaN,1.429993,0.0,198.0,NaN,NaN,NaN,NaN
271730,130.563069,560,448,768700,42.280702,-83.746001,31.0,12.009999,1467.0,NaN,...,NaN,0.0,NaN,1.429993,0.0,198.0,NaN,NaN,NaN,NaN
271731,130.563069,560,448,768800,42.280702,-83.746001,31.0,12.009999,1467.0,NaN,...,NaN,0.0,NaN,11.690002,0.0,198.0,NaN,NaN,NaN,NaN

In [110]:
df = df.sort_values(by=['Trip','Timestamp(ms)'])


df

,DayNum,VehId,Trip,Timestamp(ms),Latitude[deg],Longitude[deg],Vehicle Speed[km/h],MAF[g/sec],Engine RPM[RPM],Absolute Load[%],...,Air Conditioning Power[kW],Air Conditioning Power[Watts],Heater Power[Watts],HV Battery Current[A],HV Battery SOC[%],HV Battery Voltage[V],Short Term Fuel Trim Bank 1[%],Short Term Fuel Trim Bank 2[%],Long Term Fuel Trim Bank 1[%],Long Term Fuel Trim Bank 2[%]
131100,2.623466,560,2,0,42.252974,-83.674152,58.0,16.430000,1629.0,NaN,...,NaN,0.0,NaN,23.459991,1.0,201.5,NaN,NaN,NaN,NaN
131101,2.623466,560,2,1000,42.252974,-83.674152,59.0,16.430000,1629.0,NaN,...,NaN,0.0,NaN,23.459991,1.0,192.0,NaN,NaN,NaN,NaN
131102,2.623466,560,2,1100,42.252974,-83.674152,59.0,16.430000,1629.0,NaN,...,NaN,0.0,NaN,-9.279999,1.0,192.0,NaN,NaN,NaN,NaN
131103,2.623466,560,2,1800,42.252974,-83.674152,59.0,24.959999,2470.0,NaN,...,NaN,0.0,NaN,-9.279999,1.0,192.0,NaN,NaN,NaN,NaN
131104,2.623466,560,2,2000,42.252974,-83.674152,61.0,24.959999,2470.0,NaN,...,NaN,0.0,NaN,-9.279999,1.0,192.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86278,373.556549,560,1676,1856400,42.274291,-83.674524,36.0,0.180000,0.0,NaN,...,NaN,0.0,NaN,-4.920013,6.0,199.0,0.0,-10.15625,NaN,NaN
86279,373.556549,560,1676,1857200,42.274291,-83.674524,36.0,0.180000,0.0,NaN,...,NaN,0.0,NaN,-82.639984,6.0,199.0,0.0,-10.15625,NaN,NaN
86280,373.556549,560,1676,1857500,42.274291,-83.674524,39.0,0.180000,0.0,NaN,...,NaN,0.0,NaN,-82.639984,6.0,199.0,0.0,-10.15625,NaN,NaN
86281,373.556549,560,1676,1858200,42.274291,-83.674524,39.0,0.180000,0.0,NaN,...,NaN,0.0,NaN,-104.139984,6.0,199.0,0.0,-10.15625,NaN,NaN
86282,373.556549,560,1676,1858500,42.274291,-83.674524,42.0,0.180000,0.0,NaN,...,NaN,0.0,NaN,-104.139984,6.0,199.0,0.0,-10.15625,NaN,NaN

In [111]:
#df = df.sort_values(by='DayNum')

df['datetime'] = pd.to_datetime(df['DayNum'], unit='D', origin=pd.Timestamp('2017-11-01'))


print(df['datetime'].min())

print(df['datetime'].max())


print(df['DayNum'].min())

print(df['DayNum'].max())

print(df.shape)

2017-11-03 14:57:47.424000256
2018-11-09 13:21:25.822368
2.62346555556
373.55654887
(887056, 23)

In [112]:
t = pd.DataFrame()

t = pd.date_range(start='2017-11-03 14:57:47.424000256', end='2018-11-09 13:21:25.822368', periods=887056)


df['datetime'] = t

df.datetime

131100   2017-11-03 14:57:47.424000256
131101   2017-11-03 14:58:23.553235081
131102   2017-11-03 14:58:59.682469907
131103   2017-11-03 14:59:35.811704733
131104   2017-11-03 15:00:11.940939559
                      ...
86278    2018-11-09 13:19:01.305428700
86279    2018-11-09 13:19:37.434663524
86280    2018-11-09 13:20:13.563898352
86281    2018-11-09 13:20:49.693133176
86282    2018-11-09 13:21:25.822368000
Name: datetime, Length: 887056, dtype: datetime64[ns]

In [113]:
df['datetime'] = pd.to_datetime(df['datetime']).round('s')

df.datetime

131100   2017-11-03 14:57:47
131101   2017-11-03 14:58:24
131102   2017-11-03 14:59:00
131103   2017-11-03 14:59:36
131104   2017-11-03 15:00:12
                 ...
86278    2018-11-09 13:19:01
86279    2018-11-09 13:19:37
86280    2018-11-09 13:20:14
86281    2018-11-09 13:20:50
86282    2018-11-09 13:21:26
Name: datetime, Length: 887056, dtype: datetime64[ns]

In [114]:
df.to_csv('veiculo560.csv')

## Veículo 561: grids diferentes e o mesmo veículo

In [115]:
vei561 = res[res['VehId_x'] == 561]

vei561

     VehId_x  grid_origem  grid_destino  repetições
362      561        21933         28551           8
363      561        47449         48204           8
364      561        47451         48204          11
365      561        47451         48205           6
366      561        47868         48204          15
367      561        47868         48205           5
368      561        47869         48204           5
369      561        48204         48284           5
370      561        66449         50738          44
371      561        66449         51147           9
372      561        66449         51558          11

In [116]:
df_trip561 = df_final.merge(vei561, how='inner', on=['grid_origem','grid_destino'])

df_trip561

,Unnamed: 0,VehId_x_x,Trip,Origens,Destinos,grid_origem,grid_destino,lon_x,lat_x,lon_y,lat_y,VehId_x_y,repetições
0,42,392,706,Origem,Destino,47449,48204,-83.740700,42.271772,-83.739208,42.229371,561,8
1,37,561,729,Origem,Destino,47449,48204,-83.740578,42.271833,-83.739226,42.229381,561,8
2,68,561,907,Origem,Destino,47449,48204,-83.740979,42.271740,-83.739211,42.229458,561,8
3,108,561,1199,Origem,Destino,47449,48204,-83.740428,42.271860,-83.739194,42.229401,561,8
4,138,561,1403,Origem,Destino,47449,48204,-83.740970,42.271964,-83.739245,42.229350,561,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,226,561,2026,Origem,Destino,21933,28551,-83.797809,42.228102,-83.782718,42.293056,561,8
133,231,561,2109,Origem,Destino,21933,28551,-83.797903,42.227783,-83.783206,42.293194,561,8
134,261,561,2374,Origem,Destino,21933,28551,-83.797776,42.227744,-83.782761,42.293159,561,8
135,302,561,2734,Origem,Destino,21933,28551,-83.798056,42.228142,-83.782862,42.293331,561,8
136,314,561,2808,Origem,Destino,21933,28551,-83.797860,42.228153,-83.782499,42.293334,561,8

In [117]:
df_trip561 = df_trip561[(df_trip561['repetições'] == df_trip561['repetições'].max()) & (df_trip561['grid_origem'] != df_trip561['grid_destino']) &
                       (df_trip561['VehId_x_x'] == df_trip561['VehId_x_y'])]

df_trip561

,Unnamed: 0,VehId_x_x,Trip,Origens,Destinos,grid_origem,grid_destino,lon_x,lat_x,lon_y,lat_y,VehId_x_y,repetições
25,14,561,573,Origem,Destino,66449,50738,-83.699638,42.230397,-83.733313,42.277083,561,44
26,23,561,633,Origem,Destino,66449,50738,-83.699736,42.230329,-83.733229,42.277119,561,44
27,24,561,642,Origem,Destino,66449,50738,-83.699732,42.230314,-83.733270,42.277279,561,44
28,26,561,650,Origem,Destino,66449,50738,-83.699709,42.230354,-83.733185,42.277196,561,44
29,28,561,661,Origem,Destino,66449,50738,-83.699545,42.230377,-83.733197,42.277064,561,44
30,34,561,705,Origem,Destino,66449,50738,-83.699688,42.230404,-83.733218,42.277250,561,44
31,46,561,803,Origem,Destino,66449,50738,-83.699690,42.230304,-83.733248,42.276957,561,44
32,65,561,893,Origem,Destino,66449,50738,-83.699651,42.230362,-83.733332,42.277368,561,44
33,66,561,900,Origem,Destino,66449,50738,-83.699684,42.230285,-83.733253,42.277282,561,44
34,71,561,938,Origem,Destino,66449,50738,-83.699715,42.230498,-83.733171,42.277048,561,44
35,81,561,1011,Origem,Destino,66449,50738,-83.699771,42.230399,-83.733126,42.277257,561,44
36,87,561,1047,Origem,Destino,66449,50738,-83.699747,42.230360,-83.733222,42.277284,561,44
37,94,561,1090,Origem,Destino,66449,50738,-83.699669,42.230355,-83.733171,42.277207,561,44
38,95,561,1092,Origem,Destino,66449,50738,-83.699628,42.230358,-83.733205,42.277126,561,44
39,103,561,1158,Origem,Destino,66449,50738,-83.699633,42.230260,-83.733274,42.276906,561,44
40,117,561,1258,Origem,Destino,66449,50738,-83.699663,42.230333,-83.733256,42.277119,561,44
41,131,561,1377,Origem,Destino,66449,50738,-83.699683,42.230337,-83.733159,42.277140,561,44
42,137,561,1400,Origem,Destino,66449,50738,-83.699689,42.230324,-83.733488,42.277327,561,44
43,142,561,1425,Origem,Destino,66449,50738,-83.699655,42.230377,-83.733238,42.277283,561,44
44,143,561,1433,Origem,Destino,66449,50738,-83.699703,42.230253,-83.733220,42.277230,561,44
45,146,561,1447,Origem,Destino,66449,50738,-83.699630,42.230379,-83.733405,42.276720,561,44
46,153,561,1505,Origem,Destino,66449,50738,-83.699650,42.230334,-83.733168,42.277238,561,44
47,163,561,1599,Origem,Destino,66449,50738,-83.699684,42.230309,-83.733204,42.277206,561,44
48,170,561,1639,Origem,Destino,66449,50738,-83.699678,42.230244,-83.733265,42.277048,561,44
49,173,561,1655,Origem,Destino,66449,50738,-83.699704,42.230271,-83.733227,42.277219,561,44
50,184,561,1752,Origem,Destino,66449,50738,-83.699675,42.230265,-83.733304,42.276909,561,44
51,190,561,1796,Origem,Destino,66449,50738,-83.699696,42.230498,-83.733218,42.276999,561,44
52,194,561,1812,Origem,Destino,66449,50738,-83.699716,42.230337,-83.733289,42.277235,561,44
53,195,561,1821,Origem,Destino,66449,50738,-83.699681,42.230252,-83.733370,42.277084,561,44
54,196,561,1832,Origem,Destino,66449,50738,-83.699598,42.230327,-83.733195,42.276753,561,44
55,208,561,1941,Origem,Destino,66449,50738,-83.699655,42.230476,-83.733428,42.277069,561,44
56,209,561,1946,Origem,Destino,66449,50738,-83.699641,42.230446,-83.733252,42.276812,561,44
57,220,561,1996,Origem,Destino,66449,50738,-83.699683,42.230311,-83.733255,42.277074,561,44
58,225,561,2019,Origem,Destino,66449,50738,-83.699618,42.230357,-83.733172,42.276974,561,44
59,260,561,2371,Origem,Destino,66449,50738,-83.699714,42.230308,-83.733320,42.277220,561,44
60,271,561,2518,Origem,Destino,66449,50738,-83.699732,42.230358,-83.733327,42.277191,561,44
61,273,561,2538,Origem,Destino,66449,50738,-83.699704,42.230517,-83.733267,42.277054,561,44
62,284,561,2606,Origem,Destino,66449,50738,-83.699734,42.230426,-83.733355,42.277237,561,44
63,287,561,2628,Origem,Destino,66449,50738,-83.699642,42.230365,-83.733260,42.277276,561,44
64,294,561,2670,Origem,Destino,66449,50738,-83.699690,42.230399,-83.733337,42.276998,561,44
65,295,561,2677,Origem,Destino,66449,50738,-83.699594,42.230229,-83.733242,42.277010,561,44
66,308,561,2764,Origem,Destino,66449,50738,-83.699640,42.230353,-83.733274,42.277113,561,44
67,309,561,2777,Origem,Destino,66449,50738,-83.699633,42.230488,-83.733273,42.277304,561,44
68,324,561,2871,Origem,Destino,66449,50738,-83.699659,42.230432,-83.733269,42.277247,561,44

In [118]:
df_trip561['Trip'].unique()

array([ 573,  633,  642,  650,  661,  705,  803,  893,  900,  938, 1011,
       1047, 1090, 1092, 1158, 1258, 1377, 1400, 1425, 1433, 1447, 1505,
       1599, 1639, 1655, 1752, 1796, 1812, 1821, 1832, 1941, 1946, 1996,
       2019, 2371, 2518, 2538, 2606, 2628, 2670, 2677, 2764, 2777, 2871])

## Teste com o veículo 561 para o QGIS

In [119]:
import pandas as pd
import glob
import numpy as np
files = glob.glob("/media/joao/Seagate Expansion Drive 09032021/22122022/ved_descompactados/*.csv")

df = pd.DataFrame()
for f in files:
    plt = pd.read_csv(f, sep = ",")
    df = pd.concat([plt,df], ignore_index=False)
    df = df.loc[(df['VehId'] == 561)]

df

,DayNum,VehId,Trip,Timestamp(ms),Latitude[deg],Longitude[deg],Vehicle Speed[km/h],MAF[g/sec],Engine RPM[RPM],Absolute Load[%],...,Air Conditioning Power[kW],Air Conditioning Power[Watts],Heater Power[Watts],HV Battery Current[A],HV Battery SOC[%],HV Battery Voltage[V],Short Term Fuel Trim Bank 1[%],Short Term Fuel Trim Bank 2[%],Long Term Fuel Trim Bank 1[%],Long Term Fuel Trim Bank 2[%]
37900,372.736791,561,2889,0,42.243244,-83.749036,36.559998,12.929999,1298.0,NaN,...,NaN,0.0,NaN,-96.500000,0.000000,287.5,-0.78125,-4.6875,NaN,NaN
37901,372.736791,561,2889,800,42.243244,-83.749036,36.559998,12.929999,1294.0,NaN,...,NaN,0.0,NaN,-96.500000,0.000000,287.5,-0.78125,-4.6875,NaN,NaN
37902,372.736791,561,2889,1000,42.243244,-83.749036,40.750000,10.639999,1294.0,NaN,...,NaN,0.0,NaN,-56.250000,0.000000,287.5,-0.78125,-4.6875,NaN,NaN
37903,372.736791,561,2889,1400,42.243244,-83.749036,40.750000,10.639999,1294.0,NaN,...,NaN,0.0,NaN,-56.250000,0.000000,295.0,-0.78125,-4.6875,NaN,NaN
37904,372.736791,561,2889,1500,42.243244,-83.749036,40.750000,10.639999,1294.0,NaN,...,NaN,0.0,NaN,-56.250000,0.000000,295.0,0.78125,-4.6875,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371176,132.728936,561,1230,249100,42.272229,-83.799133,55.480000,0.710000,0.0,NaN,...,NaN,0.0,NaN,17.899963,41.392399,308.0,NaN,NaN,NaN,NaN
371177,132.728936,561,1230,250100,42.272229,-83.799133,55.730000,0.710000,0.0,NaN,...,NaN,0.0,NaN,19.450012,41.392399,308.0,NaN,NaN,NaN,NaN
371178,132.728936,561,1230,251200,42.272229,-83.799133,55.939999,0.710000,0.0,NaN,...,NaN,0.0,NaN,17.599976,41.392399,308.0,NaN,NaN,NaN,NaN
371179,132.728936,561,1230,252100,42.272229,-83.799133,55.939999,0.710000,0.0,NaN,...,NaN,0.0,NaN,17.599976,41.392399,309.0,NaN,NaN,NaN,NaN
371180,132.728936,561,1230,252200,42.272229,-83.799133,55.809998,0.710000,0.0,NaN,...,NaN,0.0,NaN,17.750000,41.392399,309.0,NaN,NaN,NaN,NaN

In [120]:
df = df.sort_values(by=['Trip','Timestamp(ms)'])


df

,DayNum,VehId,Trip,Timestamp(ms),Latitude[deg],Longitude[deg],Vehicle Speed[km/h],MAF[g/sec],Engine RPM[RPM],Absolute Load[%],...,Air Conditioning Power[kW],Air Conditioning Power[Watts],Heater Power[Watts],HV Battery Current[A],HV Battery SOC[%],HV Battery Voltage[V],Short Term Fuel Trim Bank 1[%],Short Term Fuel Trim Bank 2[%],Long Term Fuel Trim Bank 1[%],Long Term Fuel Trim Bank 2[%]
293386,4.761068,561,304,0,42.228227,-83.797865,84.820000,0.71,0.0,NaN,...,NaN,0.0,NaN,-116.000000,10.921521,281.5,NaN,NaN,NaN,NaN
293387,4.761068,561,304,1100,42.228227,-83.797865,83.879997,0.71,0.0,NaN,...,NaN,0.0,NaN,-116.000000,10.921521,281.5,NaN,NaN,NaN,NaN
293388,4.761068,561,304,2100,42.228227,-83.797865,82.779999,0.71,0.0,NaN,...,NaN,0.0,NaN,-116.000000,10.921521,281.5,NaN,NaN,NaN,NaN
293389,4.761068,561,304,3100,42.228227,-83.797865,83.239998,0.71,0.0,NaN,...,NaN,0.0,NaN,-116.000000,10.921521,281.5,NaN,NaN,NaN,NaN
293390,4.761068,561,304,3400,42.228227,-83.797865,83.239998,0.71,0.0,NaN,...,NaN,0.0,NaN,-121.350037,10.921521,281.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38575,372.736791,561,2889,450000,42.229440,-83.739202,25.859999,5.17,1318.0,NaN,...,NaN,0.0,NaN,-22.650024,0.000000,299.0,0.0,-4.6875,NaN,NaN
38576,372.736791,561,2889,450300,42.229440,-83.739202,29.679998,5.17,1318.0,NaN,...,NaN,0.0,NaN,14.599976,0.000000,299.0,0.0,-4.6875,NaN,NaN
38577,372.736791,561,2889,450800,42.229440,-83.739202,29.679998,5.17,1318.0,NaN,...,NaN,0.0,NaN,14.599976,0.000000,294.5,0.0,-4.6875,NaN,NaN
38578,372.736791,561,2889,451300,42.229440,-83.739202,29.650000,5.17,1318.0,NaN,...,NaN,0.0,NaN,-15.650024,0.000000,294.5,0.0,-4.6875,NaN,NaN
38579,372.736791,561,2889,452000,42.229440,-83.739202,29.650000,4.82,596.0,NaN,...,NaN,0.0,NaN,-15.650024,0.000000,294.5,0.0,-4.6875,NaN,NaN

In [121]:
#df = df.sort_values(by='DayNum')

df['datetime'] = pd.to_datetime(df['DayNum'], unit='D', origin=pd.Timestamp('2017-11-01'))


print(df['datetime'].min())

print(df['datetime'].max())


print(df['DayNum'].min())

print(df['DayNum'].max())

print(df.shape)

2017-11-05 18:15:56.259999744
2018-11-08 17:40:58.771171328
4.76106782407
372.736791333
(270330, 23)

In [122]:
t = pd.DataFrame()

t = pd.date_range(start='2017-11-05 18:15:56.259999744', end='2018-11-08 17:40:58.771171328', periods=270330)


df['datetime'] = t

df.datetime

293386   2017-11-05 18:15:56.259999744
293387   2017-11-05 18:17:53.868922616
293388   2017-11-05 18:19:51.477845488
293389   2017-11-05 18:21:49.086768361
293390   2017-11-05 18:23:46.695691233
                      ...
38575    2018-11-08 17:33:08.335479836
38576    2018-11-08 17:35:05.944402708
38577    2018-11-08 17:37:03.553325580
38578    2018-11-08 17:39:01.162248456
38579    2018-11-08 17:40:58.771171328
Name: datetime, Length: 270330, dtype: datetime64[ns]

In [123]:
df['datetime'] = pd.to_datetime(df['datetime']).round('s')

df.datetime

293386   2017-11-05 18:15:56
293387   2017-11-05 18:17:54
293388   2017-11-05 18:19:51
293389   2017-11-05 18:21:49
293390   2017-11-05 18:23:47
                 ...
38575    2018-11-08 17:33:08
38576    2018-11-08 17:35:06
38577    2018-11-08 17:37:04
38578    2018-11-08 17:39:01
38579    2018-11-08 17:40:59
Name: datetime, Length: 270330, dtype: datetime64[ns]

In [124]:
df.to_csv('veiculo561.csv')